This lesson introduced some methods for combining multiple DataFrames:

Creating a DataFrame made by matching the common columns of two DataFrames is called a merge
We can specify which columns should be matches by using the keyword arguments left_on and right_on
We can combine DataFrames whose rows don’t all match using left, right, and outer merges and the how keyword argument
We can stack or concatenate DataFrames with the same columns using pd.concat

1. Cool T-Shirts Inc. just created a website for ordering their products. They want you to analyze two datasets for them: visits contains information on all visits to their landing page checkouts contains all users who began to checkout on their website \
Use print to inspect each DataFrame.

2. We want to know the amount of time from a user’s initial visit to the website to when they start to check out.\
Use merge to combine visits and checkouts and save it to the variable v_to_c.

3. In order to calculate the time between visiting and checking out, define a column of v_to_c called time by pasting the following code into script.py:

v_to_c['time'] = v_to_c.checkout_time - \
                 v_to_c.visit_time
 
print(v_to_c)

4. To get the average time to checkout, paste the following code into script.py:
print(v_to_c.time.mean())

In [3]:
import pandas as pd

visits = pd.read_csv('visits.csv',
                        parse_dates=[1])
checkouts = pd.read_csv('checkouts.csv',
                        parse_dates=[1])

v_to_c = pd.merge(visits, checkouts)
v_to_c['time'] = v_to_c.checkout_time - v_to_c.visit_time
v_to_c

,user_id,visit_time,checkout_time,time
0,319350b4-9951-47ef-b3a7-6b252099905f,2017-02-21 07:16:00,2017-02-21 07:27:00,00:11:00
1,319350b4-9951-47ef-b3a7-6b252099905f,2017-02-21 07:16:00,2017-02-21 07:40:00,00:24:00
2,7435ec9f-576d-4ebd-8791-361b128fca77,2017-05-16 08:37:00,2017-05-16 08:49:00,00:12:00
3,7435ec9f-576d-4ebd-8791-361b128fca77,2017-05-16 08:37:00,2017-05-16 08:55:00,00:18:00
4,08d13edb-071c-4cfb-9ee4-8f377d0e932a,2017-07-08 06:24:00,2017-07-08 06:32:00,00:08:00
...,...,...,...,...
75,23a8d1be-3f5c-4b59-aed7-c7f19c51612b,2017-08-11 13:49:00,2017-08-11 14:11:00,00:22:00
76,8d9ac96c-16be-418e-8df4-1a6202d0b36e,2017-10-07 10:23:00,2017-10-07 10:24:00,00:01:00
77,8d9ac96c-16be-418e-8df4-1a6202d0b36e,2017-10-07 10:23:00,2017-10-07 10:52:00,00:29:00
78,5679519b-a901-4970-8656-dbf60ffb618d,2017-07-20 04:23:00,2017-07-20 04:24:00,00:01:00
79,fff8f87a-e4a2-4f2c-b3d4-93a4ece95c4f,2017-06-06 23:42:00,2017-06-07 00:11:00,00:29:00

In [8]:
v_to_c.time.mean()

Timedelta('0 days 00:15:24.750000')